In [1]:
# Count type 2

In [2]:
import lltk
C=lltk.load('CanonFiction')

In [45]:
import sys
sys.path.append('../..')
from abslithist.words import *

dfnorms=get_allnorms()
normavg = dfnorms.median(axis=1)
dfnormavg=pd.DataFrame({'norm':normavg})
dfnormavg

              norm
word
I         0.950954
Inf      -1.584783
a'ch      0.686664
a'mighty  0.503269
a'most    1.122983
...            ...
ụyr       0.981512
NaN       0.506880
NaN      -1.246394
NaN       0.506880
NaN      -1.246394

[146105 rows x 1 columns]

In [57]:
# get text
freqs = C.t.freqs()
sfreqs = pd.Series(freqs,name='freq')

In [73]:
freql=[w
       for w,c in freqs.items()
      for i in range(c)
      ]
freqdf=pd.DataFrame(index=freql)
freqdf=freqdf.join(dfnormavg,how='inner')
freqdf

{'sum': 16977.377578796335,
 'mean': 0.42381990061401803,
 'median': 0.4956057808524901}

In [74]:
dict(freqdf.norm.agg(['sum','mean','median']))

{'sum': 16977.377578796335,
 'mean': 0.42381990061401803,
 'median': 0.4956057808524901}

In [52]:
dffreqnorm = sfreqs.to_frame().join(dfnormavg,how='inner')
dffreqnorm['tf']=dffreqnorm['freq'] / dffreqnorm['freq'].sum()
dffreqnorm['normtf']=dffreqnorm['norm'] * dffreqnorm['tf']
dffreqnorm

              freq      norm        tf    normtf
abandon          1 -1.285841  0.000037 -0.000048
abided           1 -0.502318  0.000037 -0.000019
abilities        1 -1.564375  0.000037 -0.000058
ability          2 -1.470089  0.000074 -0.000109
abolitionist     1 -0.994484  0.000037 -0.000037
...            ...       ...       ...       ...
youth            2 -0.536850  0.000074 -0.000040
youthful         2 -0.209439  0.000074 -0.000016
zeal             1 -1.383632  0.000037 -0.000051
zounds           2  0.695223  0.000074  0.000052
ée               1  0.438761  0.000037  0.000016

[6106 rows x 4 columns]

In [56]:
dffreqnorm.agg(['sum','mean','median'])

                freq        norm        tf    normtf
sum     26893.000000  140.287292  1.000000  0.096957
mean        4.404356    0.022975  0.000164  0.000016
median      2.000000   -0.068904  0.000074 -0.000005

In [36]:
pd.DataFrame(sfreqs).join(dfnormavg,how='inner')

             freq      norm
a.              5  0.019112
abandoned       2 -0.946881
abandonment     1 -1.622977
aberration      1 -1.575179
abide           1 -0.684938
...           ...       ...
zealous         2 -1.392009
zelo            1 -0.172419
zoe             1  0.151120
à               1 -0.390606
è               1  0.262298

[6544 rows x 2 columns]

In [27]:
pd.combine([normavg,sfreqs],min)

AttributeError: module 'pandas' has no attribute 'combine'