In [12]:
import lltk,pandas as pd
df=pd.read_feather('../../data/scores/data.canon_fic_scores.v2.ft')
C=lltk.load('CanonFiction')
from scipy.stats import zscore

In [14]:
dfbooks=df.groupby('id').mean().dropna().sort_values('mean',ascending=False)
dfbooks['mean_z']=zscore(dfbooks['mean'])
dfbooks

,mean,median,sum,std,size,mean_z
id,,,,,,
markmark.Delany.Hogg.1412,0.849594,0.920036,18920.802858,0.798083,22348.517857,3.476291
markmark.Hemingway.In_Our_Time.1497,0.761798,0.859739,7113.520542,0.867294,9405.553571,3.126923
markmark.McCarthy.Suttree.1568,0.730514,0.816947,36056.983768,0.849798,49767.142857,3.002435
markmark.Hemingway.The_Old_Man_and_the_Sea.1498,0.673833,0.775984,4089.542962,0.878688,6060.625000,2.776885
markmark.Rawlings.The_Yearling.1605,0.651269,0.748729,24065.594255,0.882668,37060.178571,2.687094
...,...,...,...,...,...,...
chadwyck.Foster.The_Boarding_School_or_Le.0263,-0.612911,-0.760050,-9457.108246,0.796383,15003.767857,-2.343448
chadwyck.L'Estrange.Five_LoveLetters_from_a_N.0970,-0.625940,-0.723110,-1211.480042,0.712175,1912.339286,-2.395292
chadwyck.Orrery.Parthenissa_Part.0929,-0.631233,-0.760015,-11948.767386,0.765329,18496.321429,-2.416356
chadwyck.Austen.Lady_Susan_in_The_Works_o.1091,-0.633613,-0.750204,-3143.657470,0.759332,4880.964286,-2.425826
chadwyck.Scott.Sir_George_Ellison.1073,-0.635193,-0.755528,-17571.611783,0.754545,26836.928571,-2.432115

In [15]:
dfbooks['rank_conc']=list(range(len(dfbooks)))
dfbooks['rank_abs']=list(reversed(list(range(len(dfbooks)))))

In [16]:
dfbooks.loc[dfbooks.index.str.contains('Rasselas')]

,mean,median,sum,std,size,mean_z,rank_conc,rank_abs
id,,,,,,,,
chadwyck.Johnson.Rasselas.1052,-0.470117,-0.626157,-4880.543152,0.843747,10080.214286,-1.77523,1740,65